.space-top{
	margin-top:$space-base !important;
}
.space-bottom{
	margin-bottom:$space-base !important;
}
.space-bottom-large {
	margin-bottom:$space-base * 2 !important;
}
.equalize {
	font-size:$em-base;
}
.green {
	color: $green;
}
.black {
	color: $black !important;
}
.bg-green {
	background:$green;
}
.bg-black {
	background:$black;
}
.faux-space {
	border-left:$space-base solid $white;
	border-right:$space-base solid $white;

}
@media #{$small} {
	.rule {
		position:relative;
		&:before {
			width:1px;
			height:auto;
			content: '';
			position:absolute;
			background:$grey-light;
			top:-100px;
			bottom:-100px;
			left:0px;
		}
		&.rule-right:before {
			left:auto;
			right:0;
		}

		.footer &:before {
			background:$white;
			top:15px;
			bottom:17px;
			left:0;	
		}
		&.pricing-table:before {
			background:$grey-dark;
			top:$space-base;
			bottom:$space-base; 
		}
		.cross-over .columns:first-child &.pricing-table:before {
			display:none;
		}
		
	}

	
}